<div class=""></div>

<div class="grid-container bg-image">
  <mat-grid-list cols="1" rowHeight="400px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <h2 style="font-size: 48px; margin-left: 50px;">
            <i class="material-icons md-48">
              lock
            </i>
            LOGIN
          </h2>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-action-list>
            <button mat-raised-button color="primary" (click)="googleLogin()" style="margin-left: 90px;"> <img style="width: 20px;height: 20px;"
                src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png"> Login
              with
              Google</button>
            <!-- <button mat-raised-button color="primary" style="margin-left: 5px;"> <i class="material-icons">
                email
              </i> Login with Email</button> -->
          </mat-action-list>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
